@using LogAnalyzer.Controllers
@model IEnumerable<LogAnalyzer.Models.OperationRecord>

@{
  ViewBag.Title = "List ratings";
  Layout = "~/Views/Shared/DetailsLayout.cshtml";
}

<head>
    <script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/highcharts-all.js")" type="text/javascript"></script>
</head>

<div class="row">
    <div id="ListRatingChart" class="col-md-12">
    </div>
</div>
<div class="row">
    <div id="ListRatingByTimeChart" class="col-md-12">
    </div>
</div>
<div class="row">
    <div id="FolderRatingChart" class="col-md-12">
    </div>
</div>
<div class="row">
    <div id="FolderRatingByAverageDurationChart" class="col-md-12">
    </div>
</div>


<script>
    $(document).ready(function () {
        $.get("/ListRating/ListRatingChart", function (r) {
            $("#ListRatingChart").html(r);
        });

        $.get("/ListRating/ListRatingByTimeChart", function (r) {
            $("#ListRatingByTimeChart").html(r);
        });

        $.get("/ListRating/FolderRatingChart", function (r) {
            $("#FolderRatingChart").html(r);
        });

        $.get("/ListRating/FolderRatingByAverageDurationChart", function (r) {
            $("#FolderRatingByAverageDurationChart").html(r);
        });
    });

    $('#refresh').click(function () {
        var tenant = $('#tenant')[0].options[$('#tenant')[0].selectedIndex].value;

        $.get("/ListRating/ListRatingChart?tenant=" + tenant
            + "&fromDate=" + $('#datetimepicker1').data('date')
            + "&toDate=" + $('#datetimepicker2').data('date'), function (r) {
                $("#ListRatingChart").html(r);
            });

        $.get("/ListRating/ListRatingByTimeChart?tenant=" + tenant
            + "&fromDate=" + $('#datetimepicker1').data('date')
            + "&toDate=" + $('#datetimepicker2').data('date'), function (r) {
                $("#ListRatingByTimeChart").html(r);
            });

        $.get("/ListRating/FolderRatingChart?tenant=" + tenant
            + "&fromDate=" + $('#datetimepicker1').data('date')
            + "&toDate=" + $('#datetimepicker2').data('date'), function (r) {
                $("#FolderRatingChart").html(r);
            });

        $.get("/ListRating/FolderRatingByAverageDurationChart?tenant=" + tenant
            + "&fromDate=" + $('#datetimepicker1').data('date')
            + "&toDate=" + $('#datetimepicker2').data('date'), function (r) {
                $("#FolderRatingByAverageDurationChart").html(r);
            });
    });
</script>
