@using LogAnalyzer.Controllers
@model IEnumerable<LogAnalyzer.Models.OperationRecord>

@{
  ViewBag.Title = "Operations by Documents";
  Layout = "~/Views/Shared/DetailsLayout.cshtml";
}

<head>
    <script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/highcharts-all.js")" type="text/javascript"></script>
</head>

<div class="row">
    <div id="CreateOperationStatisticsChart" class="col-md-12">
    </div>
</div>
<div class="row">
    <div id="EditOperationStatisticsChart" class="col-md-12">
    </div>
</div>


<script>
    $(document).ready(function () {
        $.get("/DocumentwiseOperations/CreateOperationStatisticsChart", function (r) {
            $("#CreateOperationStatisticsChart").html(r);
        });
    });

    $(document).ready(function () {
        $.get("/DocumentwiseOperations/EditOperationStatisticsChart", function (r) {
            $("#EditOperationStatisticsChart").html(r);
        });
    });

    $('#refresh').click(function () {
        var tenant = $('#tenant')[0].options[$('#tenant')[0].selectedIndex].value;
        $.get("/DocumentwiseOperations/CreateOperationStatisticsChart?tenant=" + tenant
            + "&fromDate=" + $('#datetimepicker1').data('date')
            + "&toDate=" + $('#datetimepicker2').data('date'), function (r) {
            $("#CreateOperationStatisticsChart").html(r);
            });
        $.get("/DocumentwiseOperations/EditOperationStatisticsChart?tenant=" + tenant
            + "&fromDate=" + $('#datetimepicker1').data('date')
            + "&toDate=" + $('#datetimepicker2').data('date'), function (r) {
                $("#EditOperationStatisticsChart").html(r);
            });
    });
</script>
